body {
    font-family: 'Comic Neue', cursive;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}
/*header-styling*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #1F2937; /* Unnötig, da body Hintergrund farbig? */
    color: #E5E7EB;
    margin-top: 20px;
    margin: 20px 200px 50px 200px;
    padding: 0;
    gap: 750px;
}

#logo {
    height: 35px;
}

.header-right {
    display: flex;
    gap: 18px;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
    white-space: nowrap;
}
/*hero-section styling*/
.hero-section {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    gap: 500px;
    height: 200px;
    margin: 50px 200px;
    padding-bottom: 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 350px;
    max-width: 500px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.hero-p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 2px;
    margin-bottom: 8px;
}

.cta {
    background-color: #3882f6;
    border: none;
    cursor: pointer;
}

#hero-button {
    padding: 10px 25px;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 0;
}

.hero-img {
    height: 100%;
    border-radius: 10px;
}
/*info-section styling*/
#info-section {
    margin: 200px 0 0 0; 
    background: white;
    font-size: 26px;
    font-weight: bolder;
    columns: #1F2937;
    display: flex;
    flex-direction: column;
    
}

h2.img-section {
    padding-top: 30px;
}

.img-section {
    margin: 50px 50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 100px;
}

.img-box {
    text-align: center;
    font-size: 18px;
    max-width: 250px;
    padding-bottom: 60px;
}

.jiggy-img {
    height: 180px;
    width: 180px;
    border: solid #3882F6;
    border-radius: 10px;
}

.img-box p {
    height: 50px;
    max-width: 180px;
}

#quote-section {
    margin: 0;
    background-color: #E5E7EB;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.quote-section {
    display: flex;
    max-width: 500px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    margin: 0;
    text-align: center;
}

.caption {
    font-size: 18px;
    text-align: right;
    font-weight: bold;
}

.cite-link {
    text-decoration: none;
    color: #1F2937;
    font-style: normal;
}

#cta-section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cta-box {
    padding: 20px 60px;
    color: #E5E7EB;
    background-color: #3882f6;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    gap: 50px;
    border-radius: 10px;
}

.cta-text h3 {
    margin: 0;
    font-weight: bolder;
    font-size: 20px;
}

.cta-text p {
    margin: 0;
}

.cta-box button {
    padding: 8px 20px;
    border: solid #F9FAF8;
    border-radius: 5px;
    border-width: 2px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    margin: 0;
    padding-top: 40px;
}