body {
    font-family: 'Comic Neue', cursive;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}
/*header-styling*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: #1F2937; /* Unnötig, da body Hintergrund farbig? */
    color: #E5E7EB;
    margin-top: 20px;
    margin: 20px 200px 80px 200px
}

#logo {
    height: 35px;
}

.header-right {
    display: flex;
    gap: 18px;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
}
/*hero-section styling*/
.hero-section {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    gap: 70px;
    height: 200px;
    margin: 80px 200px;
    padding-bottom: 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 350px;
    max-width: 500px;
    height: 300px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.hero-p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 2px;
    margin-bottom: 8px;
}

.cta {
    background-color: #3882f6;
    border: none;
}

#hero-button {
    padding: 10px 25px;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 0;
}

.hero-img {
    height: 100%;
    border-radius: 10px;
}
/*info-section styling*/
#info-section {
    margin: 200px 0; 
    background: white;
    font-size: 26px;
    font-weight: bolder;
    columns: #1F2937;
}

h2.img-section {
    padding-top: 30px;
}

.img-section {
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 150px;
}

.img-box {
    text-align: center;
    font-size: 18px;
    max-width: 250px;
    padding-bottom: 60px;
}

.jiggy-img {
    height: 180px;
    width: 180px;
    border: solid #3882F6;
    border-radius: 10px;
}

.img-box p {
    height: 50px;
    max-width: 180px;
}